@charset "UTF-8";

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/file_name.woff2") format("woff2");
  font-weight: 500;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: #fff0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  padding-bottom: 20px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header li {
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header li:last-of-type {
  margin-right: 0;
}

.header img {
  margin-right: 7px;
  vertical-align: middle;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu {
  background-color: white;
}

.header .first-line {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5px;
}

.header .first-line:after {
  content: '';
  width: 100vw;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50px;
  left: 0;
}

.header .first-line .second-list li:nth-child(2) {
  margin-right: 7px;
}

.header .first-line .second-list a {
  letter-spacing: .1px;
}

.header .first-line a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .first-line .last-img {
  margin-right: 0;
}

.header .second-line {
  padding: 21px 3px 22px 0;
  margin-left: -1px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header .second-line .logo {
  margin-right: 30px;
}

.header .second-line .menu {
  display: none;
  margin-right: 18px;
}

.header .second-line .search__input {
  width: 100vw;
  max-width: 573px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #DFE0E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-left: 15px;
  padding-right: 135px;
  margin-right: 15px;
}

.header .second-line .search__input input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  width: 20px;
}

.header .second-line .search__input .search-btn {
  background-color: #FF7A00;
  height: calc(100% + 2px);
  color: white;
  width: 123px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header .second-line .search__input .search-btn-mini {
  display: none;
  margin-left: auto;
  background-color: #ffffff00;
  height: 100%;
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.header .second-line .search__input .search-btn-mini img {
  margin: 0;
}

.header .second-line ul {
  margin-left: auto;
}

.header .second-line .chart {
  position: relative;
}

.header .second-line .chart__in-cart {
  height: 15px;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: absolute;
  background-color: #FF7A00;
  border-radius: 50%;
  font-size: 9px;
  line-height: 11px;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-style: "normal";
  top: -7px;
  left: 12px;
}

.header .second-line .cart-big {
  display: none;
  position: relative;
}

.header .second-line .cart-big img {
  height: 19px;
}

.header .second-line .cart-big__in-cart {
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-style: "normal";
}

.header .third_line li {
  margin-right: 26px;
}

.header .third_line li:first-child {
  margin-right: 0;
  margin-left: -3px;
  margin-top: -1px;
}

.header .third_line a {
  letter-spacing: -.1px;
}

.main {
  background-color: #f9f9fa;
  padding-top: 30px;
}

.main .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px minmax(10px, 360px);
  grid-template-columns: 1fr minmax(10px, 360px);
  -ms-grid-rows: 350px 30px 140px;
  grid-template-rows: 350px 140px;
  grid-gap: 30px;
      grid-template-areas: 'slider book' 'stocks book';
}

.main__main-slider {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slider;
}

.main__day-book {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: book;
}

.main__stocks {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stocks;
}

.main .main-slider {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  height: 350px;
}

.main .main-slider .wrap {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.main .main-slider .prev,
.main .main-slider .next {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #f7ffee;
  border-radius: 10px;
  cursor: pointer;
}

.main .main-slider .prev.active:after,
.main .main-slider .prev.active:before,
.main .main-slider .next.active:after,
.main .main-slider .next.active:before {
  background-color: #1C294D;
}

.main .main-slider .prev:after,
.main .main-slider .prev:before,
.main .main-slider .next:after,
.main .main-slider .next:before {
  content: '';
  width: 8px;
  height: 1px;
  background-color: #97a4a0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.main .main-slider .prev {
  left: 27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .main-slider .prev:after {
  -webkit-transform: translateX(-50%) translateY(2.5px) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(2.5px) rotate(45deg);
          transform: translateX(-50%) translateY(2.5px) rotate(45deg);
}

.main .main-slider .prev:before {
  -webkit-transform: translateX(-50%) translateY(-2.5px) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-2.5px) rotate(-45deg);
          transform: translateX(-50%) translateY(-2.5px) rotate(-45deg);
}

.main .main-slider .next {
  right: 27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main .main-slider .next:after {
  -webkit-transform: translateX(-50%) translateY(2.5px) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(2.5px) rotate(-45deg);
          transform: translateX(-50%) translateY(2.5px) rotate(-45deg);
}

.main .main-slider .next:before {
  -webkit-transform: translateX(-50%) translateY(-2.5px) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-2.5px) rotate(45deg);
          transform: translateX(-50%) translateY(-2.5px) rotate(45deg);
}

.main .main-slider__item {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main-slider__item:nth-child(1) {
  background-color: #CCFF90;
  height: 100%;
}

.main .main-slider__item:nth-child(2) {
  background-color: red;
  height: 100%;
}

.main .main-slider__item:nth-child(3) {
  background-color: blue;
  height: 100%;
}

.main .main-slider__item:nth-child(4) {
  background-color: yellow;
  height: 100%;
}

.main .main-slider__item:nth-child(5) {
  background-color: pink;
  height: 100%;
}

.main .main-slider__nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
}

.main .main-slider .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main-slider .nav__item {
  width: 25px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 5px;
  cursor: pointer;
}

.main .main-slider .nav__item:last-child {
  margin-right: 0;
}

.main .main-slider .nav__item.active {
  background-color: white;
}

.main .day-book {
  min-width: 200px;
  height: 520px;
  background-color: white;
  border-radius: 5px;
  padding: 22px 20px 25px 20px;
}

.main .day-book__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-style: "normal";
}

.main .day-book__time {
  width: 68px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 122, 0, 0.15);
  color: #FF7A00;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-style: "normal";
}

.main .book__img {
  margin: 25px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .book__theme {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
  font-style: "normal";
  color: #1C294D80;
  margin-top: 0;
}

.main .book__title {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: 0.15px;
  font-style: "normal";
  margin-top: 8px;
}

.main .book__autor {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: -0.1px;
  font-style: "normal";
  margin-top: 8px;
}

.main .book__price {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.15px;
  font-style: "normal";
  margin-top: 8px;
}

.main .book__nav {
  margin-top: 12px;
  font-size: 0;
}

.main .book__nav button {
  height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.main .book__to-cart {
  width: 145px;
  margin-right: 10px;
}

.main .book__to-cart img {
  margin-right: 12px;
}

.main .book__to-bookmarks {
  width: 40px;
}

.main .stoks {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .stoks__item {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.main .stoks__item.violet {
  background-color: #6D378F;
}

.main .stoks__item.violet img:first-of-type {
  margin-right: 13px;
}

.main .stoks__item.pink {
  background-color: #FFD8EF;
}

.main .stoks__item.pink img:first-of-type {
  margin-right: 15px;
}

.main .stoks__item:first-child {
  margin-right: 30px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: -0.05px;
  font-style: normal;
  color: black;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.red * {
  color: red;
}

@media (max-width: 992.98px) {
  .main .stoks__item:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding-bottom: 0;
  }

  .header .first-line,
  .header .third_line {
    display: none;
  }

  .header .second-line .menu {
    display: block;
  }

  .header .second-line .logo {
    margin-right: 20px;
  }

  .header .second-line .search__input {
    padding-right: 0;
    background-color: #F7F7F7;
    border: none;
  }

  .header .second-line .search__input input {
    background-color: #F7F7F7;
    color: #1c294d80;
  }

  .header .second-line .search__input .search-btn {
    display: none;
  }

  .header .second-line .search__input .search-btn-mini {
    display: block;
  }

  .header .second-line ul {
    display: none;
  }

  .header .second-line .cart-big {
    display: block;
  }

  .main .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
        grid-template-areas: 'slider' 'book' 'stocks';
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main .main-slider {
    height: 175px;
  }

  .main .main-slider .prev,
  .main .main-slider .next {
    display: none;
  }

  .main .main-slider__nav {
    bottom: 10px;
  }

  .main__main-slider {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main__day-book {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .main__stocks {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 992.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}
