@mixin fontSet ($fsz:14, $lh:16, $fw:400, $space:.15, $style:'normal') {
    font-size: $fsz+px;
    line-height: $lh+px;
    font-weight: $fw;
    letter-spacing: $space+px;
    font-style: $style;
}
