$lg: 1140;
$md: 992.98;
$sm: 767.98;
$xs: 479.98;

$fc: #000;
// $books-border: #1c294d26;
$blue: #0288D1;
$gray: #DFE0E1;
$gray-dark: #1C294D;
$gray-dark50: #1C294D80;
$gray-light: #97a4a0;
$gray-main: #E5E5E5;
$gray-border: #EEEEEE;
$gray-border2: #1c294d26;
$gray-text: #1c294d80;
$gray-find: #F7F7F7;
$green-text: #3DC47E;
$green-bg: #E2F6EC;
$main-bg: #f9f9fa;
$orange: #FF7A00;
$orange-time: rgba(255, 122, 0, 0.15);
$orange-l: #ff7a0026;
$red: #FF283D;
$red-text: #FF4F52;
$olive: #CCFF90;
$olive-light: #f7ffee;
$violet: #6D378F;
$pink-l: #FFD8EF;
$pink-l2: #FFEEEE;
$yellow: #FBC02D;
$yellow-o15: #FBC02D26;
$violet2: #7986CB;
$violet-l: #ebedf7;
$violet-text: #AC8EE3;
$violet-o15: #7987cb26;
$white-o50: rgba(255, 255, 255, 0.5);
$slider-borders: #dddfe4;
